/* COMBINATORS
  - Descendente  => Ex: div p {color:red}
  - List         => Ex: div , P {color:yellow}
  - Next sibling => Ex: div + p {color: blue} - irmão próximo
  - Child        => Ex: div > p {color: green} - filhos diretos 
*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}
:root{
  /* Colors */
  --main-red: #E3646E;
  --main-purple: #BB72E9;
  --main-blue: #3996DB;
  --main-green: #82BC4F;
  --main-yellow: #EABD5F;
  
  --base-gray-100: #0D0E11;
  --base-gray-200:#16181D;
  --base-gray-300: #292C34;
  --base-gray-400: #878EA1;
  --base-gray-500: #C0C4CE; 
  --base-gray-600: #E2E4E9;
  
  /* Tipograph */
  --font-asap: "Asap", serif;
  --font-incosolada: "Inconsolata", serif;
  --font-maven-pro: "Maven Pro", serif;
  
  --text-lg-asap: 700 56px/120% var(--font-asap);
  --text-md-asap: 700 24px/120% var(--font-asap);
  --text-sm-asap: 700 16px/120% var(--font-asap);
  
  --text-subtitle: 400 20px/120% var(--font-incosolada);

  --text-md-maven-pro: 400 16px/140% var(--font-maven-pro);
  --text-sm-maven-pro: 400 14px/140% var(--font-maven-pro);
}
body{
  background-color: var(--base-gray-300);
}
/* h1,h2,h3,h4{
  padding: 0;
  margin: 0;
} */
a{
  text-decoration: none;
}
#container{
  position: relative;
}